[user]
	name = Carlos Latugaye
	email = carlos@code54.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPqwClkn7z9Uig3PEEcRz763wesvYn4Ac4S5HINTHJfg

[core]
	excludesfile = ~/.gitignore_global

[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto

[alias]
	ci = commit
	co = checkout
	cpick = cherry-pick
	g = grep --break --heading --line-number
	loga = "!authlog() { git log --all --author=$1; }; authlog"
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all --date-order
	st = status

[tag]
	sort = version:refname

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[init]
	defaultBranch = main

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
  gpgsign = true
