{{- $name := promptStringOnce . "name" "Name" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $signingkey := promptStringOnce . "signingkey" "Signing key" -}}

[data.git]
  name = {{ $name | quote }}
  email = {{ $email | quote }}
  signingkey = {{ $signingkey | quote }}
