{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash
# Brewfile hash: {{ include "darwin/Brewfile" | sha256sum }}

echo ""
echo "Installing Homebrew packages..."
brew bundle --no-lock --file={{ joinPath .chezmoi.sourceDir "darwin/Brewfile" }}

{{ end -}}